{% block article %}
<div class="row">
    {% if articles.getItems() is empty %}
        <div class="card-body d-flex flex-column" style="min-width: 360px;">
            Votre requête n'a retourné aucun résultat.
        </div>
    {% endif %}
    {% for article in articles %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 post_item" style="padding-left: 0;">


            {# -> data-mh -> js -> same size boxes#}
            <div data-mh="my-group" class="card card-small" style="min-height: 800px">
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    {% if article.linkedImage != null %}
                        <img class="rounded mx-auto d-block card-img-top" style="min-height: 400px"
                             src="{{ asset('uploads/images/' ~ article.linkedImage ) }}"
                             alt="{{ article.title }}"/>
                    {% endif %}

                    <div class="card-body d-flex flex-column" style="min-width: 360px;">
                        <h2 style="min-height: 66px; color:#e30613">{{ article.title }}</h2>
                        {% if article.linkedImage != null %}
                            <p class="card-text" style="min-height: 168px">{{ article.content|slice(0, 240)| raw }} </p>
                        {% else %}
                            <p class="card-text" style="min-height: 168px">{{ article.content|slice(0, 240)| raw }}
                                ...</p>
                        {% endif %}
                    </div>
                </a>
                <div class="container text-right">
                    <h4>Prix : {{ article.price }} € HT.</h4>
                </div>
                <div class="container">
                    <div class="row d-flex p-1">
                        <div class="justify-content-end input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Quantité</span>
                            </div>
                                <input id="quantity" type="number" name="quantity" min="1" max="10" placeholder='0'>
                                <button id="{{ article.id }}" type="button" class="btn btn-danger p-2"
                                style="margin-top: auto; margin-left: 30px;">
                            Ajouter au panier
                        </button>

                        </div>


                    </div>
                </div>

                <div class="container text-right">
                    <h5 class="table-h5-style">
                        {% for brand in article.linkedBrand %}
                            <b>Marque : {{ brand |nl2br }}</b>
                        {% endfor %}
                        {% for category in article.linkedcategory %}
                            <b>Category : {{ category |nl2br }}</b>
                        {% endfor %}
                    </h5>
                </div>

            </div>

                <div id="loader{{ article.id }}" style="display: none">
                    <img class="mx-auto d-block" src="{{ asset('/pictures/ajax-loader.gif') }}" alt="ajax-loader"/>
                </div>

        </div>

        {#MODAL#}
        <div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content text-center p-3">
              <p>Veuillez sélectionner une quantité</p>
            </div>
          </div>
        </div>


    {% endfor %}
    {% endblock %}
    {% block javascripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $('button[type="button"]').click(function (e) {
            e.preventDefault();
            var articleId = $(this).attr('id');
            var quantity = $(this).siblings("input[name=quantity]").val();

            if (quantity == 0) {
                $('#myModal').modal('toggle');
                return;
            }

            $("#loader" + articleId).show();
            var path = "{{ path('_addToCart') }}";

            $.ajax({
                type: 'POST',
                url: path,
                data: {"articleId": articleId, "quantity": quantity},
                success: function (data) {
                    $("#loader" + articleId).hide();
                }
            });
        })
        ;
    </script>
{% endblock %}