{% extends 'homepage.html.twig' %}
{% block title %} Cart {% endblock %}

{% block body %}
    <div class="jumbotron-fluid">
        <div class="container main-page-min-height">


            {% if order.getOrderLine is empty %}<br>
                <div>Votre panier est vide ! Oh non ! Cry cry cry :'( :'( :'(
                    <br>
                    <br>
                    <p>Courrez vite <a href="{{ path('index') }}">acheter quelque chose</a> !!!</p>
                </div>
            {% else %}
                {% if user == "anon."%}<br>
                    <div>Bonjour, veuillez vous connecter ou vous enregistrer afin de pouvoir passer commande. En attendant, voici le contenu de votre panier :</div>
                {% else %}
                    <div>Bonjour {{ user }} voici le contenu de votre panier :</div>
                {% endif %}
                {% set q = 0 %}

                {% for orderLine in order.getOrderLine() %}
                    {% set q = q + 1 %}
                    {# -> data-mh -> js -> same size boxes#}
                    <div class="container exist" style="padding: 20px" id="{{ q }}">
                        <div class="row">

                            <div class="col-xs-2 card-very-small card-body d-flex flex-column removeFromCart">
                                <button type="button" class="btn btn-outline-danger btn-sm" style="max-width: 30px;">x
                                </button>
                            </div>

                            <div class="col-xs-4 card-very-small card-body d-flex flex-column">
                                <a href="{{ path('article_show', {'id': orderLine.article.id}) }}">
                                    {% if orderLine.article.getLinkedImage() != null %}
                                        <img class="rounded mx-auto d-block card-img-top card-very-small"
                                             src="{{ asset('uploads/images/' ~ orderLine.article.linkedImage ) }}"
                                             alt="{{ orderLine.article.title }}"/>
                                    {% endif %}
                                </a>

                            </div>

                            <div class="col-xs-4 card-body d-flex flex-column price-box">
                                <h4 style="color:#e30613">{{ orderLine.article.title }}</h4>
                                <h5>Prix : <span class="price">{{ orderLine.article.price }}</span> € HT.</h5>
                            </div>

                            <div class="col-xs-2">
                                {% if orderLine.quantity < 10 %}
                                    <div class="form-group selector" id="form-group">
                                        <label for="exampleFormControlSelect1">Quantité</label>
                                        <select class="form-control" id="{{ orderLine.article.id }}"
                                                name=" ">
                                            {% for i in 1..9 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                            <option>ou plus...</option>
                                        </select>
                                    </div>
                                    <div class="table-h5-style selector">
                                        <input type="number" name="{{ orderLine.article.id }}"
                                               style="display: none">
                                    </div>
                                {% else %}
                                    <div class="table-h5-style selector">
                                        <input type="number" name="{{ orderLine.article.id }}">
                                    </div>
                                {% endif %}
                                <div class="subtotalHT-box">
                                    Sous-total HT : <span class="subtotalHT"></span>
                                </div>
                                <div class="subtotalTTC-box">
                                    Sous-total TTC : <span class="subtotalTTC"></span>
                                </div>
                                <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
                                    $(document).ready(function () {
                                        var currentSelector = $("#{{ orderLine.article.id }}");

                                        //set selected quantity according to the quantity received
                                        currentSelector.val("{{ orderLine.quantity }}");

                                        //If ten or more is select, show an input field
                                        currentSelector.change(function () {
                                            var tenOrMore = currentSelector.val();
                                            if (tenOrMore == "ou plus...") {
                                                currentSelector.hide();
                                                $("input[name={{ orderLine.article.id }}]").show();
                                            }
                                        });
                                    });
                                </script>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <br>
            <a class="nav-link" href="{{ path('_clearCart') }}">
                Vider le panier</a>
        </div>
    </div>
    <div class="jumbotron-fluid">
        <div class="container" id="total">
            <hr>
            <div class="d-flex align-items-end flex-column">
                <h3 class="p-2">Total HT : <span id="totalHT"></span></h3>
                <h3 class="p-2">Total TTC : <span id="totalTTC"></span></h3>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('cartCalculation') }}
{% endblock %}