{% extends 'homepage.html.twig' %}
{% block title %} Cart {% endblock %}

{% block body %}
    <div class="jumbotron-fluid">
        <div class="container main-page-min-height">

            <div>Bonjour {{ user }} voici le contenu de votre panier :</div>
            {% if order ==  '' %}<br>
                <div>Votre panier est vide ! Oh non ! Cry cry cry :'( :'( :'(
                    <br>
                    <br>
                    Courrez vite <a class="nav-link" href="{{ path('index') }}">acheter quelque chose</a> !!!
                </div>
            {% else %}
                <ul>
                    {% for orderLine in order.getOrderLine() %}
                        {# -> data-mh -> js -> same size boxes#}
                        <div class="container" style="padding: 20px">
                            <div class="row">
                                <div class="col-xs-4 card-very-small card-body d-flex flex-column">
                                    <a href="{{ path('article_show', {'id': orderLine.article.id}) }}">
                                        {% if orderLine.article.getLinkedImage() != null %}
                                            <img class="rounded mx-auto d-block card-img-top card-very-small"
                                                 src="{{ asset('uploads/images/' ~ orderLine.article.linkedImage ) }}"
                                                 alt="{{ orderLine.article.title }}"/>
                                        {% endif %}
                                    </a>

                                </div>
                                <div class="col-xs-4 card-body d-flex flex-column">
                                    <h4 style="color:#e30613">{{ orderLine.article.title }}</h4>
                                    <h5>Prix : {{ orderLine.article.price }} € HT.</h5>
                                </div>

                                <div class="col-xs-2">
                                    {% if orderLine.quantity < 10 %}
                                        <div class="form-group" id="form-group">
                                            <label for="exampleFormControlSelect1">Quantité</label>
                                            <select class="form-control" id="{{ orderLine.article.id }}">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>ou plus...</option>
                                            </select>
                                        </div>
                                        <div class="table-h5-style">
                                            <input id="quantity" type="number" name="{{ orderLine.article.id }}" style="display: none">
                                        </div>
                                    {% endif %}
                                    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
                                        $(document).ready(function () {
                                            var currentSelector = $("#{{ orderLine.article.id }}");
                                            currentSelector.val("{{ orderLine.quantity }}");
                                            currentSelector.change(function() {
                                                var tenOrMore = currentSelector.val();
                                                if (tenOrMore == "ou plus...") {
                                                    currentSelector.hide();
                                                    $("input[name={{ orderLine.article.id }}]").show();
                                                }
                                            });
                                        });
                                    </script>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            <br>
            <a class="nav-link" href="{{ path('_clearCart') }}">
                Vider le panier</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}